{% extends "default_layout.html" %}
{% block content %}

    <div id="bar" style="width:1000px; height:600px;"></div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "{{base_url}}/barChart",
                    dataType: 'json',
                    success: function (result) {
                        //result=unescape(result);
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>
{% endblock %}
</html>