div{
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }

  .header{
    width: 100vw;
    display: flex;
    padding: 12px 24px;
    border-bottom: 1px solid #DDD;
  }
  .header .spacer {
  flex: 1 0 auto;
  }
  .countryPanel {
  transition: width cubic-bezier(.3, .55, .1, 1) .4s;
  width: 320px;
  }
  .tab {
  width: 320px;
  padding: 24px 24px 0 24px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.05);
  z-index: 201;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  }
  .timelinePillWrapper {
  display: inline-block;
  height: 32px;
  margin-bottom: 20px;
  }
  .infoTile {
  border-bottom: #DDD 1px solid;
  color: #333;
}
.infoTileHeader {
  display: flex;
  justify-content: space-between;
}
.country .infoTile .title {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 22px;
}
.infoTile .lastUpdate {
  font-size: 12px;
  color: #767676;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.infoTileIconCon {
  display: flex;
  align-items: center;
}
.infoTitleInfo {
  padding: 8px;
}
.infoTileConfirmed {
  display: flex;
  align-items: center;
}
.infoTile .confirmed {
  font-size: 32px;
  color: #DE3700;
  font-weight: bold;
  line-height: 40px;
}
.infoTile .deltaConfirmed {
  color: #666;
  border-radius: 4px;
  font-size: 13px;
  line-height: 22px;
  padding: 4px 8px;
}
.country .infoTileData {
  padding-bottom: 20px;
}
.country .legend:first-child {
  padding-top: 12px;
}
.country .legend {
  padding-top: 16px;
}
.legend {
  display: grid;
  padding-top: 16px;
  grid-template-columns: 8px auto min-content;
  align-items: center;
  grid-gap: 16px 8px;
  font-size: 13px;
  line-height: 20px;
}
.legend .color {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.legend .description {
  font-weight: 600;
}
.legend .total {
  color: #767676;
  display: flex;
  align-items: center;
}
.verticalWrapper {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow-x: auto;
}
.verticalHeader {
  background: rgba(247, 247, 247, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 12px 24px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.locationWrapper {
  display: flex;
  align-items: center;
}
.locationTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-right: 12px;
  padding: 4px 0;
}
.verticalOptions {
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  display: grid;
  white-space: nowrap;
  margin-bottom: -16px;
}
.verticalOptions {
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  display: grid;
  white-space: nowrap;
  margin-bottom: -16px;
}
.verticalContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.overview {
  position: absolute;
  top: 56px;
  margin: 24px;
  height: calc(100% - 104px);
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  padding: 4px 0 6px 0;
  display: block;
  width: 320px;
  z-index: 1;
}
.overviewContent {
  overflow-y: auto;
  margin: 0;
  padding: 16px 16px 0 24px;
  height: calc(100% - 10px);
}
.overview .pageName {
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 22px;
}
.overviewContent .segmentPanel {
  padding-right: 16px;
  height: 100%;
}
.segmentTitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 10px;
}
.mapContainer.allowGL {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  background-color: #c8c8c8;
}
.combinedArea {
  padding: 0px 24px;
  width: 100%;
  height: 400px!important;
  overflow-y: scroll!important;
}
[dir="ltr"] .combinedArea {
  margin-left: -24px;
}
.areas {
  padding: 24px 0;
  width: 100%;
}
.areaDiv {
  display: flex;
  align-items: center;
}
.areaDiv:not(:last-child) {
  margin-bottom: 12px;
}
.area {
  display: flex;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  flex: 1;
  align-items: center;
}
.area .selected {
  background: linear-gradient(98.7deg, rgba(255, 255, 255, 0.3) 0%, rgba(235, 235, 235, 0.3) 100%), radial-gradient(50% 351.19% at 50% 50%, rgba(0, 128, 157, 0.016) 0%, rgba(0, 128, 157, 0.02) 100%), #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #00809D;
}
.area:hover {
  background: linear-gradient(98.7deg, rgba(255, 255, 255, 0.3) 0%, rgba(235, 235, 235, 0.3) 100%), radial-gradient(50% 351.19% at 50% 50%, rgba(0, 128, 157, 0.016) 0%, rgba(0, 128, 157, 0.02) 100%), #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #00809D;
}
.area .areaName {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.area .areaTotal {
  color: #767676;
}